<template>
  <v-app id="keep">
    <v-navigation-drawer
      v-model="drawer"
      fixed
      clipped
      class="grey lighten-4"
      app
    >
      <v-list
        dense
        class="grey lighten-4"
      >
        <template v-for="(item, i) in items">
          <v-layout
            v-if="item.heading"
            :key="i"
            row
            align-center
          >
            <v-flex xs12>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
          </v-layout>
          <v-divider
            v-else-if="item.divider"
            :key="i"
            dark
            class="my-3"
          ></v-divider>
          <v-list-tile
            v-else-if="item.adm?role==1:false"
            :key="i"
            :to="item.endpoint"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>                      
          </v-list-tile>
          <v-list-tile
            v-else
            :key="i"            
            :to="item.endpoint"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app absolute clipped-left>
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <span class="title ml-3 mr-5">Venta de boletos</span>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height class="grey lighten-4">
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      drawer: null,
      role: localStorage.getItem('role'),
      items: [
        { icon: 'attach_money', 
          text: 'Registrar venta',
          endpoint: '/dashboard'  
        },
        { icon: 'remove_red_eye',
          text: 'Mostrar ventas',
          endpoint: '/dashboard/sales'
        },
        { divider: true },
        { heading: 'Administrador' },
        { icon: 'add',
          text: 'Viajes',
          endpoint: '/dashboard/travel',
          adm: true
        },
        { icon: 'directions_bus', text: 'Buses',
          adm: true
        },
        { icon: 'edit',
          text: 'Administrar vendedores',
          endpoint: '/dashboard/employees',
          adm: true
        }
      ]
    }),
    props: {
      source: String
    },
    methods: {
    }
  }
</script>

<style lang="stylus">
  #keep
    .v-navigation-drawer__border
      display: none
</style>