<template>
    <v-layout
    row
    wrap
    >
        <v-flex xs12>
            <v-dialog v-model="dialog" max-width="500px">
                    <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo empleado</v-btn>
                    <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.nombre" label="Nombre"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.apellido_pat" label="Apellido Paterno"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.apellido_mat" label="Apellido Materno"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                            <v-text-field v-model="editedItem.dni" label="DNI"></v-text-field>
                            </v-flex>
                            <v-flex xs6>
                            <v-text-field v-model="editedItem.id_rango" label="Rango"></v-text-field>
                            </v-flex>
                            <v-flex xs6>
                            <v-text-field v-model="editedItem.contrasenha" :type="'password'" label="Contraseña"></v-text-field>
                            </v-flex>
                        </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                    </v-card-actions>
                    </v-card>
                </v-dialog>
            <v-data-table
            :headers="headers"
            :items="employees"
            class="elevation-1"
            >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.nombre }}</td>
                <td class="text-xs-right">{{ props.item.apellido_pat }}</td>
                <td class="text-xs-right">{{ props.item.apellido_mat }}</td>
                <td class="text-xs-right">{{ props.item.dni }}</td>
                <td class="text-xs-right">{{ props.item.id_rango }}</td>
                <td class="justify-center layout px-0">
                <v-icon
                    small
                    class="mr-2"
                    @click="editItem(props.item)"
                >
                    edit
                </v-icon>
                <v-icon
                    small
                    @click="deleteItem(props.item.dni)"
                >
                    delete
                </v-icon>
                </td>
            </template>
            <template slot="no-data">
                <v-alert :value="true" color="error" icon="warning">
                    No hay data para mostrar
                </v-alert>
            </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
  import axios from 'axios';

  export default {
    data: () => ({
      dialog: false,
      headers: [
        {
          text: 'Nombre',
          value: 'nombre'
        },
        { text: 'Apellido Pat', value: 'apellido_pat' },
        { text: 'Apellido Mat', value: 'apellido_mat' },
        { text: 'Dni', value: 'dni' },
        { text: 'Rango', value: 'id_rango' },
        { text: 'Actions', value: 'name', sortable: false }
      ],
      employees: [],
      editedIndex: -1,
      editedItem: {},
      edit: false,
      defaultItem: {
        nombre: '',
        apellido_pat: '',
        apellido_mat: '',
        dni: '',
        contrasenha: '',
        id_rango: 1
      }
    }),

    computed: {
      formTitle () {
        return this.edit?'Editar':'Ingresar'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },
    mounted(){

    },
    methods: {
      getEmployees(){
        axios.get('http://localhost:3000/employees').then(
          data => {
            this.employees = data.data;
          },
          error => console.error(error)
        ).catch(
          error => console.error(error)
        );
      },
      initialize () {
        this.getEmployees();
      },

      editItem (item) {
        this.dialog = true;
        this.edit = true;
        this.editedItem = item;
      },
      deleteItem (id) {
        axios.delete('http://localhost:3000/employees', {
          data: {
            id: id
          }
        }).then(
          data => {
            this.getEmployees();
          },
          error => console.error(error)
        ).catch(
          error => console.error(error)
        );
      },

      close () {
        this.getEmployees();

        this.dialog = false;
        this.edit = false;
        this.editedItem = {}
      },

      save () {
        if(this.edit){
          axios.put('http://localhost:3000/employees', {user: this.editedItem})
            .then(
              data => this.close(),
              error => console.error(error)
            ).catch(
              error => console.error(error)
            );
        }else{
          axios.post('http://localhost:3000/employees', {user: this.editedItem})
            .then(
              data => this.close(),
              error => console.error(error)
            ).catch(
              error => console.error(error)
            );
        }        
      }
    }
  }
</script>