<template>
  <v-container fluid>
    <v-layout>
      <v-flex xs8 offset-xs2>
        <div>
          <v-card>
            <v-card-title
            primary-title
            >
              <div>
                <h3 class="headline mb-0">Iniciar sesión</h3>
              </div>
            </v-card-title>
            <v-layout class="content">
              <v-flex xs12>
                <v-form v-model="valid">
                  <v-text-field
                    v-model="dni"
                    :rules="dniRules"
                    :counter="8"
                    label="DNI"
                    required
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    :rules="passwordRules"
                    label="Contraseña"
                    required
                  ></v-text-field>
                </v-form>
              </v-flex>
            </v-layout>
            <v-card-actions>
              <v-btn flat color="primary" @click="login()">Ingresar</v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import axios from 'axios';

  export default {
    name: 'Login',
    data: () => ({
      valid: false,
      dni: '',
      dniRules: [
        v => !!v || 'Dni requerido para iniciar sesión',
        v => v.length <= 8 || 'Su dni debe tener al menos 8 números'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Contraseña requerida para iniciar sesión'
      ]
    }),
    methods: {
      login(){
        axios.post('http://localhost:3000/users', {
          dni: this.dni,
          password: this.password
        }).then(
          data => {
            console.log(data);
            if(data.status == 200 && data.data.length > 0){
              localStorage.setItem('role', data.data[0].id_rango);
              this.$router.push('/dashboard');
            }else{
              console.error('User no registered');
            }
          },
          error => console.error(error)
        ).catch(
          error => console.error(error)
        );
      }
    }
  }
</script>
<style scoped>
.wrapper{
  height: 100vh;
}
.content{
  padding: 2em;
}
</style>

