<template>
    <v-layout>
        <v-flex xs12>
            <v-data-table
                :headers="headers"
                :items="regs"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                <td>{{ props.item.id_venta }}</td>
                <td class="text-xs-center">{{ props.item.pasajero_nombre }}</td>
                <td class="text-xs-center">{{ props.item.emp_nombre }}</td>
                <td class="text-xs-center">{{ props.item.fecha_venta }}</td>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>
<script>
  import axios from 'axios';

  export default {
    data () {
      return {
        headers: [
          {
            text: 'Id',
            align: 'left',
            value: 'id_venta'
          },
          { text: 'Pasajero', value: 'pasajero_nombre' },
          { text: 'Vendedor', value: 'emp_nombre' },
          { text: 'Fecha', value: 'fecha_venta' }
        ],
        regs: []
      }
    },
    methods: {
      getSales(){
        axios.get('http://localhost:3000/sales')
          .then(
            data => {
              this.regs = data.data;
            },
            error => console.error(error)
          ).catch(
            error => console.error(error)
          );
      }
    },
    mounted(){
      this.getSales();
    }
  }
</script>