<template>
    <v-layout>
        <v-flex xs12>
            <v-stepper v-model="e1">
              <v-stepper-header>
                <v-stepper-step :complete="e1 > 1" step="1">Cliente</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 2" step="2">Boleto</v-stepper-step>
              </v-stepper-header>

              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-card>
                      <v-layout>
                        <v-flex xs12>
                          <div class="content">
                            <h4 class="subheading">Cliente</h4>
                            <v-form v-model="valid">
                              <v-text-field
                              v-model="dni"
                              :rules="gral"
                              label="Dni"
                              required
                              ></v-text-field>
                              <v-text-field
                              v-model="name"
                              :rules="gral"
                              label="Nombre"
                              required
                              ></v-text-field>
                              <v-text-field
                              v-model="lastNameP"
                              :rules="gral"
                              label="Apellido Paterno"
                              required
                              ></v-text-field>
                              <v-text-field
                              v-model="lastNameM"
                              :rules="gral"
                              label="Apellido Materno"
                              required
                              ></v-text-field>
                              <v-text-field
                              v-model="email"
                              :rules="gral"
                              label="Correo"
                              required
                              ></v-text-field>
                              <v-text-field
                              v-model="address"
                              :rules="gral"
                              label="Dirección"
                              required
                              ></v-text-field>
                              <v-text-field
                              v-model="cellphone"
                              :rules="gral"
                              label="Teléfono"
                              required
                              ></v-text-field>
                            </v-form>
                          </div>
                        </v-flex>
                      </v-layout>
                  </v-card>

                  <v-btn
                    color="primary"
                    @click="e1 = 2"
                  >
                    Continuar
                  </v-btn>

                  <v-btn @click="clear()" flat>Cancelar</v-btn>
                </v-stepper-content>

                <v-stepper-content step="2">
                  <v-card>
                      <v-layout>
                        <v-flex xs12>
                          <div class="content">
                            <h4 class="subheading">Boleto</h4>
                            <v-form v-model="valid">
                              <v-text-field
                                v-model="quant"
                                :rules="gral"
                                label="Cantidad"
                                required
                                ></v-text-field>
                                <v-text-field
                                v-model="price"
                                :rules="gral"
                                label="Precio"
                                required
                                ></v-text-field>
                                <v-select    
                                v-model="travel"
                                :items="travels"
                                item-text="fecha_viaje"
                                item-value="id_viaje"
                                :rules="[v => !!v || 'Necesita escoger un viaje']"
                                label="Viaje"
                                required
                              ></v-select>
                              <v-select    
                                v-model="employee"
                                :items="employees"
                                item-text="nombre"
                                item-value="dni"
                                :rules="[v => !!v || 'Escoja un empleado']"
                                label="Empleado"
                                required
                              ></v-select>
                              <v-select    
                                :items="buses"
                                v-model="bus"
                                item-text="numero_placa"
                                item-value="id_bus"
                                :rules="[v => !!v || 'Escoja un bus']"
                                label="Bus"
                                required
                              ></v-select>
                            </v-form>
                          </div>
                        </v-flex>
                      </v-layout>
                  </v-card>

                  <v-btn
                    color="primary"
                    @click="register()"
                  >
                    Continuar
                  </v-btn>

                  <v-btn @click="clear()" flat>Cancelar</v-btn>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios';

export default {
    name: 'Sale',
    data(){
        return {
            e1: 0,
            employee: null,
            valid: false,
            name: '',
            lastNameP: '',
            lastNameM: '',
            dni: '',
            email: '',
            address: '',
            cellphone: '',
            quant: '',
            travel: null,
            bus: null,
            price: 0,
            travels: [],
            employees: [],
            buses: [],
            gral: [
              v => !!v || 'El campo no puede estar vacío'
            ]
        }
    },
    methods: {
      register(){
        axios.post('http://localhost:3000/sales', {
          user: {
            dni: this.dni,
            nombre: this.name,
            apellido_pat: this.lastNameP,
            apellido_mat: this.lastNameM,
            correo: this.email,
            telefono: this.cellphone,
            direccion: this.address
          },
          employee: {
            id: this.employee
          },
          tickets: {
            qt: this.quant,
            info: {
              idViaje: this.travel,
              idBus: this.bus,
              precio: this.price
            }
          }          
        }).then(
          data => console.log(data),
          error => console.error(error)
        )
      },
      getTravels(){
        axios.get('http://localhost:3000/travel').then(
          data => {
            this.travels = data.data;
          },
          error => console.error(error)
        ).catch(
          error => console.error(error)
        );
      },
      getEmployees(){
        axios.get('http://localhost:3000/employees').then(
          data => {
            console.log(data);
            this.employees = data.data;
          },
          error => console.error(error)
        ).catch(
          error => console.error(error)
        );
      },
      getBuses(){
        axios.get('http://localhost:3000/bus').then(
          data => {
            console.log(data);
            this.buses = data.data;
          },
          error => console.error(error)
        ).catch(
          error => console.error(error)
        );
      },
      clear(){
        console.log('clear');
        this.employee  = null;
        this.bus = null;
        this.employee = null;
        this.name = '';
        this.lastNameM = '';
        this.lastNameP = '';
        this.email = '';
        this.dni = '';
        this.address = '';
        this.cellphone = '';
        this.quant = '';
        this.price = '';
      }
    },
    mounted(){
      this.getTravels();
      this.getEmployees();
      this.getBuses();
    },
    computed: {
      getTravelsFormatted(){
        let travels = [];
        this.travels.forEach(t => {
          travels.push({
            value: t.id_viaje,
            label: t.fecha_viaje
          })
        });
        console.log(travels);
        return travels;
      }
    }
}
</script>
<style scoped>
.content{
  padding: 2em;
}
</style>
