<template>
    <v-layout
    wrap
    >
        <v-flex xs12>
            <v-data-table
                :headers="headers"
                :items="travels"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                <td>{{ props.item.lugar_origen }}</td>
                <td>{{ props.item.lugar_destino }}</td>
                <td>{{ props.item.fecha_viaje }} {{ props.item.hora_salida }}</td>
                <td>{{ props.item.id_bus }}</td>
                </template>
            </v-data-table>
        </v-flex>
        <div class="text-xs-center">
            <v-btn fab dark small color="primary">
            <v-icon dark>add</v-icon>
            </v-btn>
        </div>
    </v-layout>
</template>
<script>
import axios from 'axios';

export default {
    data () {
      return {
        headers: [
          {
            text: 'Origen',
            sortable: false,
            value: 'ori'
          },
          { 
            text: 'Destino',
            sortable: false,
            value: 'calories'
          },
          { text: 'Fecha y Hora', value: 'datetime' },
          { text: 'Bus', value: 'bus' }
        ],
        travels: []
      }
    },
    methods: {
        getTravels(){
            axios.get('http://localhost:3000/travel')
                .then(
                    data => {
                        console.log(data);
                        this.travels = data.data;
                    },
                    error => console.error(error)
                ).catch(
                    error => console.error(error)
                );
        }
    },
    mounted(){
        this.getTravels();
    }
}
</script>

