<template>
  <v-app>
    <router-view></router-view>    
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      //
    }
  }
}
</script>
<style>
v-app{
  height: 100vh;
}
</style>

